.form {
  &__field {
    margin: 10px;

    &--name, &--price, &--color {
      width: 100px;
    }

    &--description {
      width: 300px;
    }
  }
}
:host-context(.mat-form-field-wrapper) {
  width: 140px;
}
.mat-icon-button {
  margin-bottom: 10px;
}
